.subs {
  background-image: url(../img/footer-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 520px;
  background-position: center center;
  padding-bottom: 112px;
}
.subs-title {
  font-size: 32px;
  color: #8D8D8D;
}
.input-btn {
  background-color: #916000;
  &:hover {
    background-color: #916000;
    opacity: 0.7;
  }
}
.footer-logo {
  display: block;
  width: 128px;
  height: 38px;
  background-image: url(../img/d’Perfume-white.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
.footerbar {
  background-color: #916000;
  padding: 28px 0;
}
.copyright {
  font-size: 14px;
  margin-left: 20px;
}
.footer-nav {
  margin-left: 36px;
  &:hover {
    opacity: 0.7;
  }
}